.information {
    float: right;
    margin-right: 20px;
    font-size: 18px;
    color: #1890FF;
}
.logout {
    position: absolute;
    left: 5px;
    bottom: 5px;
}
.connect {
    position: absolute;
    left: 5px;
    bottom: 40px;
}
.select {
    margin: 20px;
}